{% if known %}
<p>{{ _('Your browser was detected as <strong>{0}</strong> version
    <strong>{1}</strong>, which is either deprecated or not supported by
    ORCA DB.').format(browser, version) }}</p>
{% else %}
<p>{{ _('Your browser was detected as <strong>{0}</strong> version
    <strong>{1}</strong>, which ORCA DB has not been tested with. ORCA DB may
    not work as expected, and any issues reported when using this browser may
    not be fixed.').format(browser, version) }}</p>
{% endif %}
<p>{{ _('Please visit the <a class="alert-link"
    href="#">FAQ</a> to see the
    supported browsers.') }}</p>
